.PaginationItem {
    margin: 10px;
    cursor: pointer;
    color: #343a40;
    padding: 5px 10px;
    font-size: 19px;
    line-height: 24px;
    font-weight: bold;
}

.Active {
    cursor: unset;
    text-decoration: unset;
    color: #fff;
    border-radius: 5px;
    background: #343a40;
    font-weight: normal;
}

.Disabled {
    color: #ccc;
    cursor: unset;
    text-decoration: unset;
    font-weight: normal;
}

.PaginationItem:not(.Active):not(.Disabled):hover {
    color: #fff;
    border-radius: 5px;
    background: #343a40;
}