.Product {
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    margin: 16px;
    width: 300px;
}

.Header {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    padding: 7px 0;
    border-bottom: 1px solid #000;
}

.Body {
    font-size: 12px;
}

.Body div {
    padding: 5px 16px;
}

.Body div span {
    margin-right: 5px;
}

.Body div span::after {
    content: ":";
}