.Sorter {
    border: 1px solid #000;
    margin-left: 16px;
    min-width: 200px;
}

.Sorter:first-of-type {
    margin-left: 0;
}

.Title {
    padding: 8px 16px;
    text-align: center;
    border-bottom: 1px solid #000;
}

.Select {
    width: 100%;
    overflow: hidden;
    padding: 4px;
    border: none;
    border-radius: 0;
    outline: none;
}

.Select option {
    padding: 8px 4px;
}

.Select option:checked {
    background: #40A4C8 linear-gradient(0deg, #40A4C8 0%, #40A4C8 100%);
    color: #fff;
}

.Select:focus option:checked {
    background: #40A4C8 linear-gradient(0deg, #40A4C8 0%, #40A4C8 100%);
    color: #fff;
}